<h1>Admin &raquo; Dashboard</h1>

<div class="jumbotron">
  <div>
    <p>Total product registered: </p>
    <h2><%= pluralize(@product_count, 'product') %></h2>
  </div>

  <div>
    <p>Total category registered: </p>
    <h2><%= pluralize(@category_count, 'category') %></h2>
  </div>
</div>