<h1>Admin &raquo; Dashboard</h1>

<div class="jumbotron">
  <div>
    <p>Total product count: </p>
    <h2><%= @product_count %></h2>
  </div>

  <div>
    <p>Total category count: </p>
    <h2><%= @category_count %></h2>
  </div>
</div>